<% if user_signed_in? %>
  <div class="nav__right">
  <%= link_to "新規投稿", new_product_path, class: :nav__btn %>
  <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class: :nav__logout %>
  </div>
<% end %>

<!DOCTYPE html>
<html>
  <head>
    <title>Stockapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>